body {
  margin: 0;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: rgb(20, 19, 19);
}

/*定义滚动条整体的样式*/
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  background-color: #333;
}

/*滚动条的样式*/
*::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 8px;
  background: rgb(191, 191, 183)
}

.header {
  position: fixed;
  display: flex;
  z-index: 999;
  width: 100%;
  min-width: 1280px;
  height: 66px;
  background-color: rgba(17, 17, 17, 0.75);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  transition: height 0.8s ease-out;
  /* backdrop-filter: blur(20px) saturate(1.8); */
}

.nav-item {
  position: relative;
  float: left;
  width: auto;
  height: 66px;
  margin: 0 30px !important;
  line-height: 66px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  transition: all .2s;
}

.nav-item:hover,
.nav-item-active {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
  color: #fff;
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  transform-origin: center;
}

@keyframes img-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bg-change {
  48% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.character-content {
  position: absolute;
  z-index: 4;
  top: 18vh;
  left: calc(50% - 53vh);
  width: 550px;
  /* transform: translateX(-300px); */
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: justify;
}

.character-name {
  width: 50vh;
  height: auto;
  margin-top: 20px;
}

.character-cv {
  z-index: 4;
  position: relative;
  display: flex;
  width: 330px;
  height: 54px;
  font-size: 24px;
  color: #24333c;
  line-height: 54px;
  padding-left: 60px;
  box-sizing: border-box;
  background: #cca574 url(/images/icon/cv.png) no-repeat;
  background-position: left top;
  background-size: 54px;
  margin-top: -10px;
  box-shadow: 2px 3px 6px 0 rgba(12, 12, 12, 0.2);
}

.character-intro {
  z-index: 4;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 26px;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  background: rgba(1, 1, 1, 0.5);
  font-size: 16px;
  color: #fff;
  margin-top: 17px;
  line-height: 26px;
}

.character-intro::before {
  flex-shrink: 0;
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQyIDc5LjE2MDkyNCwgMjAxNy8wNy8xMy0wMTowNjozOSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowQjNDRDg0RkFBMDIxMUU5ODY4QTk4NjNGNEM4NDk3QyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowQjNDRDg1MEFBMDIxMUU5ODY4QTk4NjNGNEM4NDk3QyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBCM0NEODREQUEwMjExRTk4NjhBOTg2M0Y0Qzg0OTdDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBCM0NEODRFQUEwMjExRTk4NjhBOTg2M0Y0Qzg0OTdDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/5UTFAAAAK5JREFUeNqk1OEKgzAMBGA7fOq2dr/cY68zoC6UJHdqoIgaP5Bek3rvE1F1W9K4wk4Bwar9XwX1s5hcG4NG2KKw4xlEr2Dju8KCEQZRFmv7O4gy2FvtMkTRL2iMQq9iRzUPfe0nQCqNmQ/Ow3e4T+c3RoAnI3e6vJ48bgqDhpgVGw9dGMwLdiWCbWLR0YtQF0PDoQbDId8dX8UYX/nJPNQoxGTNxPhfVdA/qPknwACMfVz3Rdft9wAAAABJRU5ErkJggg==) center no-repeat;
  background-size: 20px;
  margin-right: 24px;
  margin-top: 4px;
}

.element-icon {
  position: absolute;
  top: 10vh;
  z-index: 2;
  /* left: calc(50% - 60vh); */
  width: auto;
  height: 378px;
  opacity: 0.1;
}

.character-content::before {
  display: block;
  content: '';
  width: 180px;
  height: 4px;
  background: #e3bc8c;
}

.character {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 12px;
}

.character-person {
  position: absolute;
  top: -18vh;
  left: -5vw;
  width: auto;
  height: 100vh;
  opacity: 0;
  /* transform: translateX(500px); */
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home-upper {
  z-index: 10;
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}